@import '../../../styles';

.address-card {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: $primary-color-H;
  width: 650px;
  margin: 12px;
  .tag-edit {
    display: flex;
    justify-content: space-between;
    .tag {
      background-color: $primary-color-B;
      color: $primary-color-J;
      padding: 4px 10px;
    }
  }
  .name-mobile {
    display: flex;
    justify-content: start;
    margin-top: 4px;
    .mobile {
      margin-left: 32px;
    }
  }
  .address {
    margin-top: 12px;
    font-weight: $font-medium;
  }
}
