@import '../../../styles';

.profile-inputs {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  .input-text {
    min-width: 310px;
  }
  .save-button {
    margin: 0 auto;
    button {
      padding-right: 24px;
      padding-left: 24px;
      &:disabled {
        opacity: 70%;
      }
    }
  }
}
