@import '../../../styles';

.category-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 8px;
  .product-image {
    height: 350px;
    border-radius: 12px;
  }
  .title {
    margin-top: 8px;
  }
}
