@import '../../../styles';

.little-card {
  padding: pxToRem(8);
  // margin: 16px;
  // min-height: 300;
  // min-width: 250;
  background-color: $primary-color-H;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 pxToRem(2) pxToRem(4) 0 rgba($color: $primary-color-A, $alpha: 0.2);
  transition: 0.3s box-shadow ease;
  &:hover {
    box-shadow: 0 pxToRem(4) pxToRem(8) 0 rgba($color: $primary-color-A, $alpha: 0.2);
  }
}
