@import '../../../styles';

.checkout-products {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  .checkout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .address {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      h3 {
        margin-right: 32px;
      }
      select {
        width: 200px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $primary-color-A;
        background-color: $primary-color-E;
        border-radius: 12px;
        box-sizing: border-box;
      }
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
