.product-detail {
  @media (max-width: 767px) {
    max-width: 100%;
  }
  .little-image {
    max-height: 500px;
    @media (max-width: 767px) {
      text-align: center;
      img {
        max-height: 300px;
        margin-bottom: 20px;
      }
    }
  }
  .description-area {
    .title {
      font-size: 22px;
      margin-bottom: 18px;
    }
    .body-copy {
      color: #a2a2a2;
      font-size: 16px;
      line-height: 22px;
    }
    .size {
      color: #a2a2a2;
      .selectedSize {
        color: #d66a47;
      }
      button {
        background: transparent;
        color: black;
        margin-right: 10px;
        padding: 6px 12px;
        border-width: 1px;
        box-shadow: none;
        &.active {
          border-color: #d66a47;
        }
        &:hover {
          background-color: #ccc;
        }
      }
    }
    .border-bottom {
      border-bottom: 1px solid #c2c2c2;
      padding: 24px 0;
      margin: 0;
      @media (max-width: 767px) {
        padding: 18px 0;
      }
    }
    .action-buttons {
      @media (max-width: 767px) {
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        margin: 0 -12px;
        display: flex;
        justify-content: space-around;

        button {
          width: 45%;
          font-size: 18px;
        }
      }
      button + button {
        margin-left: 24px;
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
    .product-common-feature {
      padding-top: 24px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
