$black: #000000;
$white: #ffffff;

$primary-color-A: #151515;
$primary-color-B: #575757;
$primary-color-C: #a9a9a9;
$primary-color-D: #d1d1d1;
$primary-color-E: #ebebeb;
$primary-color-F: #f5f5f5;
$primary-color-G: #f9f9f9;
$primary-color-H: #f9f9f9;
$primary-color-I: #fdfdfd;
$primary-color-J: #ffffff;

$secondary-color-A: #6a983c;
$secondary-color-B: #46760a;
$secondary-color-C: #92c064;
$secondary-color-D: #c8deb3;
$secondary-color-E: #f4f8ec;

$tertiary-color-A: #e5704b;
$tertiary-color-B: #c7522d;
