$title-size: pxToRem(16);
$tag-size: pxToRem(12);

$body-copy-size: pxToRem(12);

$label-size: pxToRem(14);

$price-size: pxToRem(14);
$sub-price-size: pxToRem(12);

$button-size: pxToRem(10);

$heading-size-1: pxToRem(32);
$heading-size-2: pxToRem(26);
$heading-size-3: pxToRem(22);
$heading-sm-size-3: pxToRem(18);
$heading-size-4: pxToRem(18);
$heading-sm-size-4: pxToRem(14);
$heading-size-5: pxToRem(15);
$heading-size-6: pxToRem(12);

$border-radius: pxToRem(6);
$border-radius-lg: pxToRem(8);
$border-radius-sm: pxToRem(4);
