@import '../../../styles';

.price-detail-card {
  padding: 0;
  background-color: $primary-color-H;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    background-color: $primary-color-E;
    padding: 18px;
    text-align: center;
    width: 100%;
  }
  .price-detail-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    width: 100%;
    .price-detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      h5 {
        color: $primary-color-B;
      }
      .current {
        font-size: $heading-size-5;
        font-weight: $font-medium;
        color: $primary-color-B;
      }
    }
  }
}
